<!--extending base for app4-->
<!--newspaper summarizer like summ5 of website summarizer -->
{% extends 'base.html' %}

  {% block head %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Summaryzer</title>
{% endblock %}


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

{% block body %} 
<body>
  <br>
  <h3>Summarised Textfile Content is: </h3>

  <br>
  <br>
  
  <br>
  <br>
	{{x3}}
  <!-- End -->


</body>
{% endblock %}
</html>




